// TODO
/** 
* 
* - Clean up css, have consistent naming conventions
* - Move all modifier classes to the top
* - Decrease specificity of rules - depth
*/

@import "~css/variables";
@import "~css/typography";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
